body {
  background-color: #edf1f7;
  font-family: "Lato", sans-serif;
  color: body color-primary-dark; }

.search {
  position: relative;
  width: 35rem;
  border-radius: 0.7rem;
  margin: 3rem auto; }
  @media only screen and (max-width: 62.5em) {
    .search {
      width: 30rem; } }
  @media only screen and (max-width: 50em) {
    .search {
      width: 20rem; } }
  @media only screen and (max-width: 21em) {
    .search {
      width: 15rem; } }
  .search__input {
    height: 3rem;
    border: 0;
    font-size: 1rem;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    z-index: 1;
    position: relative;
    color: #7ea9fe;
    transition: all 0.3s; }
  .search__input::placeholder {
    font-size: 1.2rem;
    color: #828282; }
  .search__input:placeholder-shown + .search__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .search__label {
    font-size: 1.2rem;
    margin-left: 1.6rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #828282; }

.container {
  margin: 3rem; }
  @media only screen and (max-width: 24em) {
    .container {
      margin: 3rem 0.5rem; } }

.cardsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
  align-items: start;
  justify-items: center; }
  @media only screen and (max-width: 62.5em) {
    .cardsList {
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); } }
  @media only screen and (max-width: 24em) {
    .cardsList {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); } }

.card {
  background-color: #fff;
  width: 20rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.35rem;
  box-shadow: 0rem 0.3rem 0.8rem rgba(99, 99, 99, 0.1);
  display: inline-block; }
  @media only screen and (max-width: 62.5em) {
    .card {
      width: 18rem; } }
  @media only screen and (max-width: 21em) {
    .card {
      width: 13rem; } }
  .card__title {
    color: #7ea9fe;
    font-size: 1.2rem;
    font-weight: 600; }
  .card__text {
    line-height: 1.3rem; }
  .card__author {
    color: #b4b4b4; }
